.img{
    max-width: 360px;
    height: 200px;
    object-fit: cover;
}
.btns{
    width: 152px;
    height: 115px;
}
.img_shadow{
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
}
div ::-webkit-scrollbar{
    display: none;
}
.content_height{
    height: 200px;
}

/* ========= ticker======== */
body {
  margin: 0;
}

.ticker-wrap {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  /* position: fixed; */
  top: 0;
  height: 3.5rem;
  background-color: #FFCA46;
}

.ticker {
  display: inline-block;
  margin-top: 5px;
  animation: marquee 20s linear infinite;
}

.item-collection-1 {
  position: relative;
  left: 0%;
  animation: swap 20s linear infinite;
}

.item {
  display: inline-block;
  padding: 0 4rem;
  font-size: 2rem;
  color: black;
  font-weight: 800;
  font-family: sans-serif;
}

/* .slide{
  font-size: 20px;
  font-weight:700;
  color: red;
} */

@keyframes marquee {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-100%)
  }
}

@keyframes swap {

  0%,
  50% {
    left: 0%;
  }

  50.01%,
  100% {
    left: 100%;
  }
}
/* ================= */
  @media (max-width:576px) {
    .btns{
      width:87px ;
      height:87px ;
      object-fit: cover;
      border-radius: 8px;
    }
  }